.body{
    background-color: #F5F7F6;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar-brand{
   font-family: "Protest Guerrilla", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  color:#355E52;
}
.font-utama{
    font-family: "Protest Guerrilla", sans-serif !important;
}
.color-utama{
    color:#355E52;
}
.img-hero{
    height: 350px;
}
.bg-utama{
    background-color: #355E52;
    color: white;
}