 .upload-box {
        border: 2px dashed #ccc;
        border-radius: 8px;
        padding: 25px 20px;
        text-align: center;
        transition: border-color 0.3s ease;
        cursor: pointer;
        position: relative;
    }

    .upload-box:hover {
        border-color: #1cd83a;
        /* warna highlight */
    }

    .upload-box i {
        font-size: 40px;
        color: #6c757d;
    }

    .upload-box input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0; /* tersembunyi tapi tetap bisa di-klik atau drag */
      cursor: pointer;
    }

    .upload-box p {
        margin: 0;
        color: #6c757d;
    }

    .upload-label {
        font-weight: 500;
        color: #198754;
        cursor: pointer;
    }